.post{
    grid-template-columns: 1fr minmax(50ch, 70ch) 1fr;
    gap: 2.5rem;

    &__title, &__image, &__info, &__reactions, {
        grid-column: span 3;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        small{
            white-space: nowrap;
        }
    }

    &__profile{
        grid-row: span 5;
        margin-bottom: 20px;
    }

    &__content{
        display: contents;

        & > *{
            margin-bottom: 10px;
            grid-column: 2 / span 1;
        }

        blockquote, .code-container {
            grid-column: 1 / span 3;
        }

        .code-container{
            font-size: .8em;
        }
    
        blockquote{
            text-align: center;
            font-style: italic;
            font-size: 1.2em;
        }

        pre{
            display: inline;
            font-size: .8em;
            background-color: #eee;
            padding: .2em;
        }

        .youtube-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            
            & iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
          }
        
    }

    &__reactions{
        margin-bottom: 2rem;
    }


    @media screen and (max-width: 768px) {
        &__content{
            .paragraph, h2, h3, h4{
                padding: 0 .5em;
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: grid;

        &__info > *{
            flex-shrink: 0;
        }
    }
}