.profile{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    font-size: 0.8em;

    &__avatar{
        margin-left: .2em;
        box-shadow: rgb(194 202 214) 0px 0.2em, rgb(194 202 214) 0px -0.2em, rgb(194 202 214) 0.2em 0px, rgb(194 202 214) -0.2em 0px;
    }

    &__name{
        font-weight: bold;
        font-size: 0.8em;
        margin: 0;
    }

    &__social{
        > a:not(:last-child){
            margin-right: 10px;
        }
    }

    &__bio{
        margin-top: 0;
    }
}