.profile {
  display: flex;
  font-size: 0var (--small-text);

  &__avatar {
    margin: 0.2em;
    box-shadow: var(--pixel-border);
  }

  &__name {
    margin: 0 calc(var(--spacing) * 2);
    small {
      display: block;
    }
  }

  &__social {
    margin-left: calc(var(--spacing) * 2);
    > a:not(:last-child) {
      margin-right: var(--spacing);
    }
  }

  @media screen and (max-width: 768px) {
    &__bio {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;

    &__name,
    &__social {
      margin: 0;
    }
  }
}
